.backColor {
  background-color: lavender;
}
.title {
  composes: backColor;
  color: red;
}
.h2 {
  display: flex;
  background: lightblue;
  width: 100px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
/* :global(.title) {
  color: green;
} */
