

.backColor {
  background-color: lightgray;
}
.title {
  composes: backColor;
  color: red;
  width: 200px;
}
.h2 {
  display: flex;
  background: lightblue;
  width: 100px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
/* :global(.title) {
  color: green;
} */
:root {
  --mainColor: red;
  
}
a {
  color: var(--mainColor);
  text-decoration: none;
}
